# General
.DS_Store
.AppleDouble
.LSOverride

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

build/tmp/
src/ARXCheck/ARXCheck/input/
build/config/xsd/*
!build/config/xsd/xml.xsd

git_publish_public.zsh